*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    font-family: "Montserrat", sans-serif;
}
:root {
    --font-size: 1.6rem;
    --heading-font-size: 2rem;
    --primary-color: #d1d1d1;
    --primary-color-darker: #958939a3;
    --primary-color-lighter: #efefef;
    --accent-color: #8da1b9;
    --accent-color-darker: #405a72;
}

body {
    background-color: #fff;
    width: 80%;
    margin: 0;
    margin-left: 10%;
}
