.container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: space-around;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.title {
    margin-left: 120px;
    padding: 15px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: var(--large-font-size);
    line-height: 1.2em;
    text-align: center;

    color: #000000;
}

.decsription {
    margin-left: 80px;
    margin-right: 80px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}
.decsription li:first-child {
    margin-bottom: 10px;
}

.imageContainer {
    position: relative;
    width: 1411px;
    height: 445px;

    background: linear-gradient(
        89.88deg,
        rgba(10, 132, 255, 0) 0.93%,
        rgba(10, 132, 255, 0.12) 27.99%,
        rgba(10, 132, 255, 0.12) 47.29%,
        rgba(10, 132, 255, 0.12) 67.15%,
        rgba(10, 132, 255, 0) 100%
    );
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tryIt {
    /* Colors/BlueDark */
    background: transparent;
    border: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 29px;
    text-align: center;

    color: #0a84ff;
    cursor: pointer;
}

.tryItSvg:hover {
    transform: scale(1.2);
}
.tryItSvg {
    transition: all 1s;
    transform-origin: 50% 50%;
}

.imageContainer > * {
    right: -100vw;
    opacity: 0;
    animation: moveInRight 1s ease-out forwards;
}
.imageContainer > *:nth-child(1) {
    animation-delay: 0.2s;
}
.imageContainer > *:nth-child(2) {
    animation-delay: 0.6s;
}
.imageContainer > *:nth-child(3) {
    animation-delay: 1s;
}

@keyframes moveInRight {
    0% {
        right: -50vw;
        opacity: 0;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}
